<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>NodeJS 搭建网上购物商城</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/navbar %>
    <%- body -%>
    <% include ./partials/footer %>
    <% include ./partials/javascriptOnly %>
  </body>
</html>
