<%- layout('layout') %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="navbar-gap" class="jumbotron">
    <div class="container">
    <h1>网上购物商城，减价大清仓！</h1>
    <p>Starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">注册 &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
        <h3>商品搜索栏</h3>
        <p>注册开始购物</p>
    </div>
    <div class="col-md-4">
        <h3>商品推荐栏</h3>
        <p>此处为添加的商品展示区</p>
    </div>
    <div class="col-md-4">
        <h3>商品搭配栏</h3>
        <p>商品搭配一起购买，为您省的更多！</p>
    </div>
    </div>
</div>
